<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registeration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body{
            margin: 0;
            padding: 0;
            background-color: #b3f1fc;
        }
        .container{
            width: 50%;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            margin-top: 50px;
        }
        h1{
            text-align: center;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1> Registerations</h1>
    {% comment %}
    <form action="" method="post">
        <table>
            {{form}}
        </table>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    {% endcomment %}
    <hr>
    {% comment %}
    <form action="" method="post">
        <table>
            {{form.as_p}}
        </table>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <hr>
    {% endcomment %}
    <form action="" method="post">
        <table>
            {{form.first_name}}
            {{form.last_name}}
        </table>
    </form>
    <hr>

    <form action="" method="post">
        <table>
            {{form.as_table}}
        </table>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    
</body>
</html>